beautifulsoup4
cachetools
certifi
charset-normalizer
decorator
frozendict
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gspread
html5lib
httplib2
idna
lxml
multitasking
numpy
oauthlib
pandas
peewee
platformdirs
proto-plus
protobuf
pyasn1
pyasn1_modules
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
six
snaptrade-python-sdk
soupsieve
typing_extensions
tzdata
uritemplate
urllib3
validators
webencodings
yfinance
Django 
playwright==1.56.0